/*
* {
    border: red solid 1px;
} 
*/
body {
    font-family:'Roboto', sans-serif;
}
header {   
    color: white;
    background-color: #1f2937;
    display: flex;
    padding: 5px 0px 0px 60px;
    justify-content: center;
}
h1 {
    margin: 0px;
    padding: 0px; 
}
h2 {
    margin: 0px;
    padding: 0px; 
}
h3 {
    margin: 0px;
    padding: 0px; 
}
p {
    padding: 0px;
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;  
    gap: 16px;
}
li {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
figcaption { 
    text-align: right;
}
.section1 {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 60px;
}
.image-placeholder {
    padding: 40px;
    border-radius: 2px;
}
.subtext {
    color: lightgrey;
    font-weight: 100;
    font-size: 16px;
}
.button1 {
    color: white;
    background-color: #3882F6; 
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}
.section2 > h2 {
    text-align: center;
    padding: 20px;  
}
.box-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.outer-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.outer-box>p {
    font-size: 12px;
    width: 120px;
}
.image-box{
    border: solid #3882F6 2px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
}
.image-placeholder {
    background-color: grey;
}
.section3 {
    background-color: lightgrey;
    padding: 60px;
    font-weight: 300;
}
.section4 {
    display: flex;
    color: white;
    background-color: #3882F6;
    margin: 40px;
    border-radius: 5px;
}
.section4-left {
    padding: 20px;
}
.button2 {
    color: white;
    background-color: #3882F6;
    border: solid white 1px; 
    margin-left: auto;  
    margin-top: 40px;  
    margin-bottom: 40px;
    margin-right: 20px;
    flex: 0 0 auto
}
footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}