* {
    border: red solid 1px;
}

body {
    font-family:'Roboto', sans-serif;
}

header {
    padding: 5px 50px 5px 50px;
    color: white;
    background-color: #1f2937;
    display: flex;
}

h3 {
    margin: 0px;
    padding: 0px; 
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;  
    gap: 40px;
}

li {
    margin: 0px;
    padding: 0px;
}